@using eBooks.Data.ViewModels;

<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Are you sure you want to delete this order?</h2>
        <hr />
        <div class="align-middle">
            <a class="btn btn-danger text-white" asp-controller="Orders" asp-action="OrderDeleted">Yes </a> |
            <a class="btn btn-outline-primary" asp-controller="Orders" asp-action="Index">No </a>
        </div>
    </div>
</div>