<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Order deleted successfully!</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <p>Thank you!</p>
        <hr />
        <div class="align-middle">
            <a class="btn btn-outline-primary" asp-controller="Books" asp-action="Index">Back to Home Page</a>
        </div>
    </div>
</div>