@{ 
    ViewData["Title"] = "Report Generation";
}

<h3>Choose a report to be generated</h3>

<a class="btn btn-outline-primary" asp-area="" asp-controller="Books" asp-action="Index"> Generate User details report </a>
<a class="btn btn-outline-primary" asp-area="" asp-controller="Books" asp-action="Index"> Generate Order details report </a>