@{ 
    ViewData["Title"] = "Report Generation";
}

<h3>Choose a report to be generated</h3>

<a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="UserDetailsReport"> Generate User details report </a>
<hr />
<a class="btn btn-outline-primary"> Generate Order details report </a>
<hr />
<a class="btn btn-outline-primary"> Generate Book details report </a>